<div class="navigation">
  <ul>
    <li>TALLA DE OSTIÓN</li>
    <li class="active">NUEVO</li>
  </ul>
</div>

<div class="container"> 

  <div class="page_actions">
    <%= link_to image_tag('home.png'), root_path %>
    <%= link_to image_tag('back.png'), boxes_path %>
  </div>

  <p class="alert"><%= flash[:notice] %></p>
  
  <div class="list_contianer">
    <%= form_for :box, :url => {:action => 'create'} do |f| %>
      <label>
        <span>Talla del ostión</span>
        <%= f.text_field :description %>
      </label>

      <label>
        <span>Activo?</span>
        <%= check_box_tag(:active, 1, true) %>
      </label >
     
      <p>
        <%= f.button 'Guadar tamaño' %>
      </p>
    <% end %>
  </div>
</div>